<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="title d-flex flex-column">
            <h1>Current Time and Date :</h1>
            <div class="date-time " style="border:solid; margin:auto; width:300px; height:230px;font-size: 3em ">
                <p>@ViewBag.Message </p>
            </div>
        </div>
    </div>
</body>
</html>